<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369624136731-g7fhmv86ab098ave4rt48tjf11m3jpe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369624136731-g7fhmv86ab098ave4rt48tjf11m3jpe1</string>
	<key>API_KEY</key>
	<string>AIzaSyD9GtZ87gDnsaLxZMVlxoh-deZ6F1EQSe0</string>
	<key>GCM_SENDER_ID</key>
	<string>369624136731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jose.RestServ</string>
	<key>PROJECT_ID</key>
	<string>restserv-cd72b</string>
	<key>STORAGE_BUCKET</key>
	<string>restserv-cd72b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369624136731:ios:6acc4456a5898d3f90ccbe</string>
</dict>
</plist>